## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df = vacation_df.drop(columns=["City"])
vacation_df = vacation_df.rename(columns={'City.1':'City'})
vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itoman,JP,82.40,scattered clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa
1,Sao Filipe,CV,78.51,overcast clouds,14.90,-24.50,Tortuga B&B
2,Tubigan,PH,87.01,overcast clouds,8.53,124.31,Midway Minkay Beach Resort
3,Ternate,ID,85.41,moderate rain,0.80,127.40,Grand Dafam Bela Ternate
4,Hobart,AU,79.00,clear sky,-42.88,147.33,St Ives Hobart Accommodation Tasmania
...,...,...,...,...,...,...,...
178,Oussouye,SN,79.66,clear sky,12.48,-16.55,Auberge du Routard
179,Trairi,BR,79.45,scattered clouds,-3.28,-39.27,Pousada Field Lilies - Trairi
180,Bandarbeyla,SO,76.51,clear sky,9.49,50.81,REER XOOSHLE GROUP
181,Pontianak,ID,85.84,overcast clouds,-0.03,109.33,Aston Pontianak Hotel & Convention Center
182,Kuching,MY,86.00,few clouds,1.55,110.33,Hilton Kuching

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#Filter cities in countries with more than 4 cities
#country_count_df = vacation_df.groupby(["Country"]).count().reset_index()[["Country","City"]]
#country_count_df.columns = ["Country", "Count"]

#multi_city_countries = list(country_count_df[country_count_df["Count"] > 4]["Country"])
#travel_list = vacation_df[vacation_df["Country"].isin(multi_city_countries)]

#travel_list = travel_list.reset_index()

#travel_list = travel_list[ travel_list["Country"] == travel_list["Country"][0]]

#travel_list

# Grab 4 cities from the country
#vacation_start = travel_list.loc[0]
#vacation_end = travel_list.loc[0]
#vacation_stop1 = travel_list.loc[1]
#vacation_stop2 = travel_list.loc[2]
#vacation_stop3 = travel_list.loc[3]

start_city = (input("What is the start city? "))
stop_1 = (input("What is the first stop city? "))
stop_2 = (input("What is the second stop city? "))
stop_3 = (input("What is the third stop city? "))

vacation_start = vacation_update.loc[start_city]
vacation_end = vacation_start
vacation_stop1 = vacation_update.loc[stop_1]
vacation_stop2 = vacation_update.loc[stop_2]
vacation_stop3 = vacation_update.loc[stop_3]

What is the start city? Ballina
What is the first stop city? Byron Bay
What is the second stop city? Brisbane
What is the third stop city? Caboolture

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
start

array([-28.87, 153.57], dtype=object)

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

origin = start
stop_1 = stop1
stop_2 = stop2
stop_3 = stop3

fig = gmaps.figure()
route = gmaps.directions_layer(origin, origin, waypoints=[stop_1, stop_2, stop_3], travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
vacation_start

Country                                                            AU
Max Temp                                                           77
Current Description                                  scattered clouds
Lat                                                            -28.87
Lng                                                            153.57
Hotel Name             Ramada Hotel & Suites by Wyndham Ballina Byron
Name: Ballina, dtype: object

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_start_df = vacation_start.to_frame()
vacation_stop1 = vacation_stop1.to_frame()
vacation_stop2 = vacation_stop2.to_frame()
vacation_stop3 = vacation_stop3.to_frame()

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3])
itinerary_df

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig